<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.resturant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Order Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryMenuActivity" />
        <activity
            android:name=".OrderMenuItemActivity"
            android:label="Item Description"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OrderSummaryActivity" />
        <activity
            android:name=".CategoryOneActivity"
            android:label="@string/category_one"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CategoryTwoActivity"
            android:label="@string/category_two"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewOrderSummaryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CategoryThreeActivity"
            android:label="@string/category_three"
            android:parentActivityName=".MainActivity"  />
        <activity
            android:name=".CategoryFourActivity"
            android:label="@string/category_four"
            android:parentActivityName=".MainActivity"  />
        <activity
            android:name=".CategoryFiveActivity"
            android:label="@string/category_three"
            android:parentActivityName=".MainActivity"  />
        <activity
            android:name=".CategorySixActivity"
            android:label="@string/category_six"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>